body,
.container {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	overflow: hidden;
}

.result {
	margin-bottom: -100px;
}

.row {
	margin-bottom: 15px;
}

.row.permalink {
	margin: 0;
}

@media (max-width: 979px) {
	.query-input {
		font-size: 14px;
	}

	.result {
		margin-bottom: -100px;
	}

	.average {
		font-size: 48px;
	}
}

@media (max-width: 767px) {
	.result {
		margin-bottom: -70px;
		max-width: 45%;
		height: auto;
	}
	.result.span6 {
		float: left;
		margin: 0;
	}

	.chart-image {
		position: relative;
		float: left;
		margin-top: -40px;
		top: 10px;
		right: 0;
	}

	.result h3 {
		margin-bottom: -10px;
	}
}

@media (max-width: 560px) {
	.result {
		float: left;
		width: 50%;
		margin: 0;
	}

	.chart-image {
		margin: 0;
		top: -15px;
		left: -25px;
	}

}

@media (max-width: 400px) {
	.result h3 {
		font-size: 18px;
	}

	.result .average {
		font-size: 36px;
	}
}
